@charset "UTF-8";
body {
  margin: 0px;
}
.menu {
  width: 100%;
  height: 415px;
  display: flex;
  justify-content: center;
}
#foto {
  width: 357px;
  float: right;
  padding-right: 51px;
}
#sobre {
  max-width: 48%;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  padding: 62px;
}

#sobre h2 {
  color: red;
}
/*border-bottom: 1px solid #e5e5e5; */
.cabecalho {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 24px;
}
.butao {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  padding: 17px;
  box-shadow: 1px -9px 16px 0px black;
  text-align: initial;
}
.cabecalho button {
  background-color: #e5e5e5;
  border-radius: 5px;
  width: 129px;
  height: 38px;
  border-color: red;
  font-family: Montserrat, sans-serif;
  color: red;
  font-weight: 900;
  cursor: pointer;
}
.cabecalho button:hover {
  background-color: red;
  color: white;
}
.menuseta {
  display: flex;
}
#nome {
  width: 50%;
  float: right;
}
#linha {
  width: 50%;
  height: 21px;
  float: left;
  position: relative;
  top: 53px;
  left: -38px;
  background-color: red;
  border-radius: 158px;
}

.contatos1 {
  height: 314px;
  background-color: #e5e5e5;
  position: relative;
  box-shadow: 0px -15px 5px 0px black;
}
.contatos1 h2 {
  color: red;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: xx-large;
  position: relative;
  top: -17px;
  padding-top: 17px;
  background-color: #e5e5e5;
}
#barra {
  width: 25%;
  height: 14px;
  background-color: red;
  position: relative;
  top: -37px;
  border-radius: 10px;
  left: 38%;
}
.contatos2 {
  display: flex;
  justify-content: center;
  height: 290px;
  background-color: #e5e5e5;
  box-shadow: 0px -9px 18px black;
  margin-bottom: 50px;
}
.contatos2 h2 {
  color: red;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: xx-large;
  position: relative;
  top: 13px;
}
#card1,
#card2,
#card3,
#card4,
#card5 {
  width: 264px;
  height: 200px;
  display: inline-block;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 1px 1px red;
}
.cards1 {
  position: relative;
  display: flex;
  padding: 5px;
  font-family: Montserrat, sans-serif;
  gap: 118px;
  justify-content: center;
}
.cards1 img {
  position: relative;
  top: 39px;
}
.cards2 {
  position: relative;
  display: flex;
  padding: 20px;
  font-family: Montserrat, sans-serif;
  gap: 118px;
}
.cards2 img {
  position: relative;
  top: 39px;
}
.cards2 button {
  background-color: white;
  color: red;
  border-radius: 4px;
  border-color: red;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
.cards2 button:hover {
  background-color: red;
  color: white;
}
h3 {
  position: relative;
  top: 39px;
}
#card3 h3{
  font-size: 16px;
}
.skills {
  display: flex;
  justify-content: center;
  gap: 180px;
  height: 294px;
}
li {
  padding: 8px;
  font-weight: 900;
}
li::marker {
  color: red;
}
.skills-card1 {
  width: 264px;
  height: 200px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
}
.skills-card1 h2 {
  color: red;
  font-weight: 900;
  text-align: center;
  font-size: xx-large;
  position: relative;
}
#barra-skills {
  width: 16px;
  height: 306px;
  background-color: red;
  position: relative;
  border-radius: 10px;
}
.skills-card2 {
  width: 264px;
  height: 200px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
}
.skills-card2 h2 {
  color: red;
  font-weight: 900;
  text-align: center;
  font-size: xx-large;
  position: relative;
}
.fixado {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: -12px;
  left: -22px;
  align-items: center;
}
.fixado1 {
  background-color: red;
  border-radius: 15px;
  width: 10px;
  height: 107px;
}
.fixado-nome {
  color: red;
  font-family: Montserrat, sans-serif;
  transform: rotate(270deg);
  position: relative;
  bottom: 43px;
  font-weight: 900;
}
.rodape {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #e5e5e5;
  gap: 746px;
  box-shadow: -2px 8px 16px 0px black;
  position: relative;
}
@media (max-width: 1024px) {
  .cards1 {
    gap: 68px;
  }
  .fixado {
    left: -35px;
  }
  #nome {
    font-size: 20px;
    position: relative;
    top: 10px;
    left: -14px;
  }
  #foto {
    padding-right: 30px;
  }
  #sobre {
    padding: 62px;
    position: relative;
    bottom: 45px;
  }
  .rodape {
    gap: 466px;
    height: 63px;
  }
  .skills {
    gap: 119px;
  }
  #card3 h3{
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #foto {
    width: 269px;
  }
  #sobre {
    bottom: 68px;
    font-size: 14px;
  }
  .cards1{
    gap: 18px;
    padding: 43px;
    top: -57px;
  }
  .skills{
    gap: 56px;
  }
  .rodape{
    gap: 253px;
    height: 63px;
  }
  .contatos1{
    height: 325px;
  }
}
@media (max-width: 425px){
  .main{
    width: 100%;
  }
  .cabecalho{
    width: 100%;
    margin: 0px;
  }
  .menu{
    height: 667px;
    flex-direction: column;
    width: 100%;
  }
  #nome{
    font-size: 14px;
    width: 100%;
    left: -69px;
  }
  #linha{
    top: 34px;
    left: -89px;
  }
  #foto{
    width: 304px;
    position: relative;
    top: -147px;
    left: 39px;
  }
  #sobre{
    position: relative;
    bottom: -303px;
    padding: 0px;
    max-width: 93%;
    left: 16px;
  }
  .rodape{
    position: relative;
    top: 444px;
    gap: 27px;
    height: 50px;
    width: 100%;
    position: relative;
    top: 444px;
    font-family: Montserrat, sans-serif;
  }
  .rodape p{
    font-size: 10px;
    position: relative;
    left: 1px;
  }
  .skills{
    width: 100%;
    height: 647px;
    position: relative;
    top: 121px;
    flex-direction: column;
    align-items: flex-start;
  }
  #card1,#card2,#card3, #card4, #card5{
    height: 165px;
  }
  #card3 h3{
    font-size: 16px;
  }
  #card1 h3{
    font-size: 16px;
  }
  .skills-card1{
    position: relative;
    left: 81px;
    height: 281px;
  }
  .skills-card2{
    position: relative;
    left: 81px;
    top: -22px;
    height: 220px;
  }
  #barra-skills{
    left: 10%;
    width: 349px;
    height: 23px;
    align-self: center;
    
  }
  .contatos1{
    width: 100%;
    height: 676px;
    box-shadow: 0px 0px 0px black;
  }
  .contatos2{
    height: 432px;
    box-shadow: 0px 0px 0px black;
  }
  .cards2{
    width: 261px;
    gap: 35px;
    right: 10px;
    padding: 0px;
    top: 11px;
    flex-direction: column;
    left: -7px;
    align-items: center;
  }
  .cards1{
    width: 100%;
    gap: 35px;
    padding: 0px;
    top: -11px;
    flex-direction: column;
    align-items: center;
    left: -7px;
  }
  .fixado{
    position: relative;
    left: -183px;
    bottom: -480px;
  }
  }
